<style>
    .account-button {
        border: 1px solid var(--signature-blue);
        background-color: var(--signature-blue);
        color: white;
        padding: 7px 25px;
        height: auto;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.2s;
        border-radius: 10px;
        letter-spacing: 1px;
    }

        .account-button:hover {
            color: var(--signature-blue);
            background-color: #fafafa;
        }
</style>

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(StocksLayout)">
                <Authorizing>
                    <div class="container-fluid text-center" style="width: 80%;">
                        <p><em>Determining session state, please wait...</em></p>
                    </div>
                </Authorizing>
                <NotAuthorized>
                    <div class="container-fluid text-center" style="width: 80%;min-height: 100vh;">
                        <h1>Sorry</h1>
                        <p><em>You're not authorized to reach this page. You need to log in.</em></p>
                        <br>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="account" class="account-button">Manage account</a>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(StocksLayout)">
                <div class="container-fluid text-center" style="width: 80%;min-height: 100vh;">
                    <p role="alert"><em>Sorry, there's nothing at this address.</em></p>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>