@inject NavigationManager NavigationManager
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #fafafa;
        font-family: 'DM Sans', sans-serif;
        box-sizing: border-box;
        cursor: default;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }
</style>

<header>
    <div>
        <article id="title">
            <a style="text-decoration: none;" href="#">
                <span class="parent">
                    Stocks
                </span>
            </a>
            <br/>
            <a style="text-decoration: none;" href="#">
                <span class="name">
                    Analyzer
                </span>
            </a>
        </article>

        <article id="reference">
            <div class="wrapper">
                <div class="nav-item @GetActive("", NavLinkMatch.All)">
                    <NavLink class="nav-link svghover" ActiveClass="nav-active" href="" Match="NavLinkMatch.All">
                        <span class="icon">
                            <span class="tooltip">Home</span>
                            <span class="svg-icon">
                                <i class="bi bi-geo-alt navicon"></i>
                            </span>
                        </span>
                    </NavLink>
                </div>
                <div class="nav-item @GetActive("stocks", NavLinkMatch.All)">
                    <NavLink class="nav-link svghover" ActiveClass="nav-active" href="stocks" Match="NavLinkMatch.All">
                        <span class="icon">
                            <span class="tooltip">Stocks</span>
                            <span class="svg-icon">
                                <i class="bi bi-bar-chart navicon"></i>
                            </span>
                        </span>
                    </NavLink>
                </div>
                <div class="nav-item @GetActive("screener", NavLinkMatch.All)">
                    <NavLink class="nav-link svghover" ActiveClass="nav-active" href="screener" Match="NavLinkMatch.All">
                        <span class="icon">
                            <span class="tooltip">Screener</span>
                            <span class="svg-icon">
                                <i class="bi bi-search navicon"></i>
                            </span>
                        </span>
                    </NavLink>
                </div>
                <div class="nav-item @GetActive("info", NavLinkMatch.All)">
                    <NavLink class="nav-link svghover" ActiveClass="nav-active" href="info" Match="NavLinkMatch.All">
                        <span class="icon">
                            <span class="tooltip">Info</span>
                            <span class="svg-icon">
                                <i class="bi bi-bookmark navicon"></i>
                            </span>
                        </span>
                    </NavLink>
                </div>
                <div class="nav-item @GetActive("account", NavLinkMatch.All)">
                    <NavLink class="nav-link svghover" ActiveClass="nav-active" href="account" Match="NavLinkMatch.All">
                        <span class="icon">
                            <span class="tooltip">Account</span>
                            <span class="svg-icon">
                                <i class="bi bi-person-bounding-box"></i>
                            </span>
                        </span>
                    </NavLink>
                </div>
            </div>
        </article>
    </div>
</header>

@code {
    protected override void OnInitialized() => NavigationManager.LocationChanged += (s, e) => StateHasChanged();

    bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }

    string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix) => IsActive(href, navLinkMatch) ? "active" : "";
}